.bg-lightBule{
    background-color:#ADD8E6 ;
}
.color-hui{
    background-color:	#F5F5F5;
}

.bg-lightBule2{
    background-color:#FFFAFA;
}
.bg-A6{
    background-color:#a6b87a ;
}
.bg-F{
    background-color: #E6E6FA;
}
.m-padding{
     padding:10px;
}
.m-margin{
    margin: 10px;
}
.large{
    font-size: large;
}
.x-large{
    font-size:x-large;
}
